

<body>
<header>
  <h1>JpbEntryMate</h1>
  <ul>
    <a href="introduction.html"><li><%= link_to "編集する", new_idea_path %></li></a>
    <a href="study.html"><li>削除する</li></a>
    <a href="dream.html"><li>ログアウト</li></a>
  </ul>
</header>

<main>

<div id="ideas">
  <% @ideas.each do |idea| %>
    <%= render idea %>

  <% end %>
</div>

</main>



</body>
